[Unit]
Description=cloudflared
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/bin/cloudflared --protocol http2 --no-autoupdate tunnel run --token {{ cloudflared_ssh_token }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
